{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- HEADER -->
{% include 'products/includes/shop-header.html' %}
<main id="content" class="wrapper layout-page">
    <section class="z-index-2 position-relative pb-2 mb-12">
        <div class="bg-body-secondary mb-3">
            <div class="container">
                <nav class="py-4 lh-30px" aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center py-1 mb-0">
                        <li class="breadcrumb-item"><a title="Home" href="../index.html">Home</a></li>
                        <li class="breadcrumb-item">
                            <a title="Shop" href="{% url 'KaSheaCosmetics_products:product_list' %}">Shop</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="shopping-cart row">
            <h2 class="text-center fs-2 mt-12 mb-13">Shopping Cart</h2>
            {% if cart_items %}
            {% for item in cart_items %}
            <form class="table-responsive-md pb-8 pb-lg-10 col-md-10" method="POST"
                action="{% url 'KaSheaCosmetics_cart:update-cart-quantity' %}">
                {% csrf_token %}
                <input type="hidden" name="product_key" value="{{ item.product_key }}">
                <table class="table border">
                    <thead class="bg-body-secondary">
                        <tr class="fs-15px letter-spacing-01 fw-semibold text-uppercase text-body-emphasis">
                            <th scope="col" class="fw-semibold border-1 ps-11">products</th>
                            <th scope="col" class="fw-semibold border-1">quantity</th>
                            <th colspan="2" class="fw-semibold border-1">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="position-relative">
                            <th scope="row" class="pe-5 ps-8 py-7 shop-product">
                                <div class="d-flex align-items-center">
                                    <div class="ms-6 me-7">
                                        <img src="{{ item.image_url }}" data-src="{{ item.image_url }}"
                                            class="lazy-image" width="75" alt="{{ item.product_name }}">
                                    </div>
                                    <div>
                                        <p class="fw-500 mb-1 text-body-emphasis">
                                            {{ item.product_name }}
                                        </p>
                                        <p class="fw-500 mb-1 text-body-emphasis">
                                            <strong>Size:</strong>
                                            {{ item.size }}
                                        </p>
                                        <p class="fw-500 mb-1 text-body-emphasis">
                                            <strong>Quantity:</strong>
                                            {{ item.quantity }}
                                        </p>
                                        <p class="card-text">
                                            <span class="fs-15px fw-bold text-body-emphasis"
                                                id="item-price-{{ item.product_id }}">
                                                £{{ item.price }}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </th>
                            <td class="align-middle">
                                <div class="input-group position-relative shop-quantity">
                                    <a href="#" class="shop-down position-absolute z-index-2">
                                        <i class="far fa-minus"></i>
                                    </a>
                                    <input class="form-control form-control-sm px-10 py-4 fs-6 text-center border-0"
                                        type="number" name="quantity" value="{{ item.quantity }}" min="1">
                                    <a href="#" class="shop-up position-absolute z-index-2">
                                        <i class="far fa-plus"></i>
                                    </a>
                                    <button class="btn" type="submit">Update</button>
                                </div>
                            </td>
                            <td class="align-middle">
                                <p class="mb-0 text-body-emphasis fw-bold mr-xl-11">
                                    £{{ item.price }}
                                </p>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </form>
            <div class="col-md-2">
                <form method="POST" action="{% url 'KaSheaCosmetics_cart:delete-from-cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_key" value="{{ item.product_key }}">
                    <button type="submit" class="d-block border-0">
                        <i style="color: red;" class="fa-solid fa-xmark"></i>
                    </button>
                </form>
            </div>

            {% endfor %}
            <p><strong>Total: £<span id="cart-total">{{ subtotal|floatformat:2 }}</span></strong></p>
            {% endif %}

            <div class="row pt-8 pt-lg-11 pb-16 pb-lg-18">
                <div class="col-lg-4 pt-2">
                    <h4 class="fs-24 mb-6">Coupon Discount</h4>
                    <p class="mb-7">Enter your coupon code if you have one.</p>
                    <form>
                        <input type="text" class="form-control mb-7" placeholder="Enter coupon code here">
                        <button type="submit" class="btn btn-dark btn-hover-bg-primary btn-hover-border-primary">
                            Apply coupon
                        </button>
                    </form>
                </div>
                <div class="col-lg-4 pt-lg-2 pt-10">
                    <h4 class="fs-24 mb-6">Shipping Caculator</h4>
                    <p class="mb-7">Enter your town/city to calculate shipping cost.</p>
                    <form action="{% url 'KaSheaCosmetics_cart:shopping-cart' %}" method="GET">


                        <input type="text" value="{{ shipping_city }}" class="form-control mb-7" id="shipping_city"
                            name="shipping_city" placeholder="Town/City" required>


                        <button type="submit" class="btn btn-dark btn-hover-bg-primary btn-hover-border-primary">
                            Update total
                        </button>
                    </form>
                </div>
                <div class="col-lg-4 pt-lg-0 pt-11">
                    <div class="card border-0" style="box-shadow: 0 0 10px 0 rgba(0,0,0,0.1)">
                        <div class="card-body px-9 pt-6">
                            <div class="d-flex align-items-center justify-content-between mb-5">
                                <span>Subtotal:</span>
                                <span class="d-block ml-auto text-body-emphasis fw-bold">£{{ subtotal|floatformat:2 }}

                                </span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Shipping:</span>
                                <span class="d-block ml-auto text-body-emphasis fw-bold">
                                    {% if shipping_city %}
                                    £{{ shipping_cost|floatformat:2 }}
                                    {% endif %}
                                    {% if not shipping_city %}
                                    £{{ default_shipping|floatformat:2 }}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent px-0 pt-5 pb-7 mx-9">
                            <div class="d-flex align-items-center justify-content-between fw-bold mb-7">
                                <span class="text-secondary text-body-emphasis">Total price:</span>
                                <span class="d-block ml-auto text-body-emphasis fs-4 fw-bold">£{{ total }}</span>
                            </div>
                            <button id="checkout-button"
                                class="btn w-100 btn-dark btn-hover-bg-primary btn-hover-border-primary">
                                Check Out
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- FOOTER -->
{% include 'commons/footer_2.html' %}
{% include 'checkout/includes/svg.html' %}


<!-- SEARCH MODAL -->
{% include 'commons/search-modal.html' %}

<!-- SHOPPING CART -->
{% include 'commons/cart-modal.html' %}
<!-- SIGN IN MODAL -->
{% include 'commons/sign-in-modal.html' %}
<!-- SIGN UP MODAL -->
{% include 'commons/sign-up-modal.html' %}
<!-- QUICK VIEW MODAL -->
{% include 'products/includes/quick-view-modal.html' %}
<div class="navbar">
    <div id="offCanvasNavBar" class="offcanvas offcanvas-start" style="--bs-offcanvas-width: 310px">
        <div class="offcanvas-header bg-body-tertiary">
            <h3 class="offcanvas-title text-uppercase">Glowing</h3>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr class="mt-0">
        <div class="offcanvas-body pt-0 mb-2">
            <ul class="navbar-nav">
                <li class="nav-item transition-all-xl-1 py-0 dropdown dropdown-fullwidth">
                    <a class="nav-link d-flex justify-content-between position-relative text-uppercase fw-semibold ls-1 fs-15px dropdown-toggle"
                        href="../index.html" data-bs-toggle="dropdown" id="menu-item-home-canvas" aria-haspopup="true"
                        aria-expanded="false">Home</a>
                    <div class="dropdown-menu mega-menu start-0 py-6 " aria-labelledby="menu-item-home-canvas"
                        style="width:320px">
                        <div class="megamenu-home container py-8 px-12">
                            <div class="row">
                                <div class="col">
                                    <h6 class="fs-18px">Group 1</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="../home-01.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 01</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-02.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 02</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-03.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 03</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-04.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 04</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-05.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 05</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-06.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 06</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-07.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 07</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-08.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 08</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-09.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 09</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <h6 class="fs-18px">Group 2</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="../home-10.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 10</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-11.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 11</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-12.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 12</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-13.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 13</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-14.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 14</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-15.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 15</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-16.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 16</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-17.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 17</span></a>
                                        </li>
                                        <li>
                                            <a href="../home-18.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Home 18</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item transition-all-xl-1 py-0 dropdown dropdown-fullwidth position-static">
                    <a class="nav-link d-flex justify-content-between position-relative text-uppercase fw-semibold ls-1 fs-15px dropdown-toggle"
                        href="../store.html" data-bs-toggle="dropdown" id="menu-item-shop-canvas" aria-haspopup="true"
                        aria-expanded="false">Shop</a>
                    <div class="dropdown-menu mega-menu start-0 py-6  w-100" aria-labelledby="menu-item-shop-canvas">
                        <div class="megamenu-shop container-wide py-8 px-12">
                            <div class="row">
                                <div class="col">
                                    <h6 class="fs-18px">Shop Pages</h6>
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="../shop/shop-layout-v1.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Shop Layout <sup>v1</sup></span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/shop-layout-v2.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Shop Layout <sup>v2</sup></span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/shop-layout-v3.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Shop Layout <sup>v3</sup></span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/shop-layout-v4.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Shop Layout <sup>v4</sup></span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/shop-layout-v5.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Shop Layout <sup>v5</sup></span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <h6 class="fs-18px">Product Pages</h6>
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="../shop/product-details-v1.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Product Detail
                                                    <sup>v1</sup></span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/product-details-v2.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Product Detail
                                                    <sup>v2</sup></span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/product-details-v3.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Product Detail
                                                    <sup>v3</sup></span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/product-details-v4.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Product Detail
                                                    <sup>v4</sup></span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/product-details-v5.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Product Detail
                                                    <sup>v5</sup></span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/product-details-v6.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Product Detail
                                                    <sup>v6</sup></span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/product-details-v7.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Product Detail
                                                    <sup>v7</sup></span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/product-details-v8.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Product Detail
                                                    <sup>v8</sup></span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <h6 class="fs-18px">Product Types</h6>
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="../shop/product-simple.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Product Simple</span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/product-variable.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Product Variable</span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/product-time-limit.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Product Time Limit</span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/product-grouped.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Product Grouped</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <h6 class="fs-18px">Other Pages</h6>
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="../shop/shopping-cart.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Shopping Cart</span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/compare.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Compare</span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/wishlist.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Wishlist</span></a>
                                        </li>
                                        <li>
                                            <a href="../shop/checkout.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Checkout</span></a>
                                        </li>
                                        <li>
                                            <a href="../user-registration.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Register</span></a>
                                        </li>
                                        <li>
                                            <a href="../user-login.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Login</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col d-xxl-block d-none megamenu-shop-banner" data-bs-theme="light">
                                    <div class="card border-0 mt-4">
                                        <img src="../assets/images/background/bg-mega-menu-shop.jpg" alt="bg mega menu"
                                            class="card-img">
                                        <div class="card-img-overlay d-flex flex-column mx-2 px-9 py-6">
                                            <p class="text-body-emphasis ls-1 fw-semibold mb-4 mt-6 text-uppercase">
                                                new collection
                                            </p>
                                            <h3 class="fs-3">
                                                Special <br>
                                                Offer
                                            </h3>
                                            <div class="mt-auto">
                                                <a href="#" class="btn btn-white">Shop Sale</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item transition-all-xl-1 py-0 dropdown">
                    <a class="nav-link d-flex justify-content-between position-relative text-uppercase fw-semibold ls-1 fs-15px dropdown-toggle"
                        href="#" data-bs-toggle="dropdown" id="menu-item-pages-canvas" aria-haspopup="true"
                        aria-expanded="false">Pages</a>
                    <ul class="dropdown-menu py-6" aria-labelledby="menu-item-pages-canvas">
                        <li class="dropend" aria-haspopup="true" aria-expanded="false">
                            <a class="dropdown-item pe-6 dropdown-toggle d-flex justify-content-between border-hover"
                                href="#" data-bs-toggle="dropdown" id="menu-item-blog-canvas">
                                <span class="border-hover-target">
                                    Blog
                                </span>
                            </a>
                            <ul class="dropdown-menu py-6" aria-labelledby="menu-item-blog-canvas"
                                data-bs-popper="none">
                                <li>
                                    <a class="dropdown-item border-hover" href="../blog/grid.html">
                                        <span class="border-hover-target">Blog Grid</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../blog/grid-sidebar.html">
                                        <span class="border-hover-target">Blog Grid Sidebar</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../blog/masonry.html">
                                        <span class="border-hover-target">Blog Masonry</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../blog/list.html">
                                        <span class="border-hover-target">Blog List</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../blog/classic.html">
                                        <span class="border-hover-target">Blog Classic</span>
                                    </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../blog/details-01.html">
                                        <span class="border-hover-target">Blog Details 01</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../blog/details-02.html">
                                        <span class="border-hover-target">Blog Details 02</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="dropend" aria-haspopup="true" aria-expanded="false">
                            <a class="dropdown-item pe-6 dropdown-toggle d-flex justify-content-between border-hover"
                                href="#" data-bs-toggle="dropdown" id="menu-item-about-us-canvas">
                                <span class="border-hover-target">
                                    About Us
                                </span>
                            </a>
                            <ul class="dropdown-menu py-6" aria-labelledby="menu-item-about-us-canvas"
                                data-bs-popper="none">
                                <li>
                                    <a class="dropdown-item border-hover" href="../about-us-01.html">
                                        <span class="border-hover-target">About Us 01</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../about-us-02.html">
                                        <span class="border-hover-target">About Us 02</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropend" aria-haspopup="true" aria-expanded="false">
                            <a class="dropdown-item pe-6 dropdown-toggle d-flex justify-content-between border-hover"
                                href="#" data-bs-toggle="dropdown" id="menu-item-contact-us-canvas">
                                <span class="border-hover-target">
                                    Contact us
                                </span>
                            </a>
                            <ul class="dropdown-menu py-6" aria-labelledby="menu-item-contact-us-canvas"
                                data-bs-popper="none">
                                <li>
                                    <a class="dropdown-item border-hover" href="../contact-us-01.html">
                                        <span class="border-hover-target">Contact Us 01</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../contact-us-02.html">
                                        <span class="border-hover-target">Contact Us 02</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropend" aria-haspopup="true" aria-expanded="false">
                            <a class="dropdown-item pe-6 dropdown-toggle d-flex justify-content-between border-hover"
                                href="../dashboard/dashboard.html" data-bs-toggle="dropdown"
                                id="menu-item-dashboard-canvas">
                                <span class="border-hover-target">
                                    Dashboard
                                </span>
                            </a>
                            <ul class="dropdown-menu py-6" aria-labelledby="menu-item-dashboard-canvas"
                                data-bs-popper="none">
                                <li>
                                    <a class="dropdown-item border-hover" href="../dashboard/dashboard.html">
                                        <span class="border-hover-target">Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../dashboard/product-grid.html">
                                        <span class="border-hover-target">Products</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../dashboard/order-list.html">
                                        <span class="border-hover-target">Orders</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../dashboard/sellers-cards.html">
                                        <span class="border-hover-target">Sellers</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../dashboard/add-product-1.html">
                                        <span class="border-hover-target">Add Product</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../dashboard/transactions-1.html">
                                        <span class="border-hover-target">Transaction</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../dashboard/reviews.html">
                                        <span class="border-hover-target">Reviews</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../dashboard/brands.html">
                                        <span class="border-hover-target">Brands</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="../dashboard/profile-settings.html">
                                        <span class="border-hover-target">Settings</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item pe-6 border-hover" href="../faqs.html">
                                <span class="border-hover-target">
                                    FAQs
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item pe-6 border-hover" href="../find-a-store.html">
                                <span class="border-hover-target">
                                    Store
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item pe-6 border-hover" href="../404.html">
                                <span class="border-hover-target">
                                    404
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item transition-all-xl-1 py-0 dropdown dropdown-fullwidth">
                    <a class="nav-link d-flex justify-content-between position-relative text-uppercase fw-semibold ls-1 fs-15px dropdown-toggle"
                        href="#" data-bs-toggle="dropdown" id="menu-item-blocks-canvas" aria-haspopup="true"
                        aria-expanded="false">Blocks</a>
                    <div class="dropdown-menu mega-menu start-0 py-6 " aria-labelledby="menu-item-blocks-canvas"
                        style="width:800px">
                        <div class="megamenu-home container py-8 px-12">
                            <div class="row">
                                <div class="col">
                                    <h6 class="fs-18px">Group 1</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="../blocks/blog.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Blog</span></a>
                                        </li>
                                        <li>
                                            <a href="../blocks/banner.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Banner</span></a>
                                        </li>
                                        <li>
                                            <a href="../blocks/call-to-action.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Call To Action</span></a>
                                        </li>
                                        <li>
                                            <a href="../blocks/hero.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Hero</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <h6 class="fs-18px">Group 2</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="../blocks/products.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Products</span></a>
                                        </li>
                                        <li>
                                            <a href="../blocks/products-slide.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Products Slide</span></a>
                                        </li>
                                        <li>
                                            <a href="../blocks/product-tabs.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Product Tabs</span></a>
                                        </li>
                                        <li>
                                            <a href="../blocks/news-letter.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">News Letter</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <h6 class="fs-18px">Group 3</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="../blocks/features.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Features</span></a>
                                        </li>
                                        <li>
                                            <a href="../blocks/info.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Info</span></a>
                                        </li>
                                        <li>
                                            <a href="../blocks/instagram.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Instagram</span></a>
                                        </li>
                                        <li>
                                            <a href="../blocks/video.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Video</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <h6 class="fs-18px">Group 4</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="../blocks/team.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Team</span></a>
                                        </li>
                                        <li>
                                            <a href="../blocks/testimonials.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Testimonials</span></a>
                                        </li>
                                        <li>
                                            <a href="../blocks/header.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Header</span></a>
                                        </li>
                                        <li>
                                            <a href="../blocks/footer.html"
                                                class="border-hover text-decoration-none py-3 d-block"><span
                                                    class="border-hover-target">Footer</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item transition-all-xl-1 py-0 dropdown dropdown-fullwidth">
                    <a class="nav-link d-flex justify-content-between position-relative text-uppercase fw-semibold ls-1 fs-15px dropdown-toggle"
                        href="#" data-bs-toggle="dropdown" id="menu-item-docs-canvas" aria-haspopup="true"
                        aria-expanded="false">Docs</a>
                    <div class="dropdown-menu mega-menu start-0 py-6 " aria-labelledby="menu-item-docs-canvas">
                        <div class="menumega-docs px-8" style="min-width: 250px">
                            <a href="../docs/usage/getting-started.html"
                                class="d-flex text-decoration-none mb-4 mb-lg-0" title="Documentation">
                                <div class="flex-shrink-0 fs-5 lh-1 text-muted pt-2">
                                    <svg class="icon">
                                        <use xlink:href="#book"></use>
                                    </svg>
                                </div>
                                <div class="flex-grow-1 ps-6">
                                    <h6 class="mb-2">Documentation</h6>
                                    <small>Kick-start customization</small>
                                </div>
                            </a>
                            <hr class="dropdown-divider mx-n8" />
                            <a href="../docs/components/accordion.html" class="d-flex text-decoration-none mb-4 mb-lg-0"
                                title="UI Kit">
                                <div class="flex-shrink-0 fs-5 lh-1 text-muted pt-2">
                                    <svg class="icon">
                                        <use xlink:href="#layer-group"></use>
                                    </svg>
                                </div>
                                <div class="flex-grow-1 ps-6">
                                    <h6 class="mb-2">UI Kit</h6>
                                    <small>Flexible components</small>
                                </div>
                            </a>
                            <hr class="dropdown-divider mx-n8" />
                            <a href="../docs/usage/changelog.html" class="d-flex text-decoration-none mb-4 mb-lg-0"
                                title="Changelog">
                                <div class="flex-shrink-0 fs-5 lh-1 text-muted pt-2">
                                    <svg class="icon">
                                        <use xlink:href="#pen-to-square"></use>
                                    </svg>
                                </div>
                                <div class="flex-grow-1 ps-6">
                                    <h6 class="mb-2">Changelog</h6>
                                    <small>Regular updates</small>
                                </div>
                            </a>
                            <hr class="dropdown-divider mx-n8" />
                            <a href="https://sp.g5plus.net/" class="d-flex text-decoration-none mb-4 mb-lg-0"
                                title="Support" target="_blank">
                                <div class="flex-shrink-0 fs-5 lh-1 text-muted pt-2">
                                    <svg class="icon">
                                        <use xlink:href="#headset"></use>
                                    </svg>
                                </div>
                                <div class="flex-grow-1 ps-6">
                                    <h6 class="mb-2">Support</h6>
                                    <small>https://sp.g5plus.net/</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <hr class="mb-0">
        <div class="offcanvas-footer bg-body-tertiary">
            © 2023 Glowing. <br>
            All rights reserved.
        </div>
    </div>
</div>
<div class="position-fixed z-index-10 bottom-0 end-0 p-10">
    <a href="#"
        class="gtf-back-to-top text-decoration-none bg-body text-primary bg-primary-hover text-light-hover shadow square p-0 rounded-circle d-flex align-items-center justify-content-center"
        title="Back To Top" style="--square-size: 48px"><i class="fa-solid fa-arrow-up"></i></a>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");

    document.getElementById("checkout-button").addEventListener("click", function () {
        // Grab the shipping city input value
        const shippingCityInput = document.getElementById("shipping_city");
        if (!shippingCityInput || !shippingCityInput.value.trim()) {
            alert("Please enter your town/city before checking out.");
            return; // Stop if town is empty
        }

        fetch("{% url 'KaSheaCosmetics_checkout:create_checkout_session' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            },
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (sessionId) {
                return stripe.redirectToCheckout({ sessionId: sessionId.id });
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error creating checkout session:", error);
            });

    });
</script>


{% endblock %}