<!-- templates\products\product_detail.html -->
{% extends "base.html" %}

{% block content %}
<h1>{{ product.name }}</h1>
<div class="product-details">
    <div class="product-images">
        <img src="{{ product.image_1.url }}" alt="{{ product.name }}">
        {% if product.image_2 %}
            <img src="{{ product.image_2.url }}" alt="{{ product.name }}">
        {% endif %}
        {% if product.image_3 %}
            <img src="{{ product.image_3.url }}" alt="{{ product.name }}">
        {% endif %}
    </div>
    <div class="product-info">
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }} £</p>
        <p>Size: {{ product.size }}</p>
        <p>Shipping: {{ product.shipping_option }}</p>
    </div>
</div>
{% endblock %}
