<!-- templates\products\products_list.html -->
{% extends "base.html" %}
{% block content %}




<body>
    {% include 'products/includes/svg.html' %}
    {% include 'products/includes/shop-header.html' %}

    <main id="content" class="wrapper layout-page">
        <!-- THIS SECTION CONTAINS THE PAGE HEADER AND THE "Default Sorting" OPTIONS -->
        <section class="page-title z-index-2 position-relative">
            <div class="bg-body-secondary">
                <div class="container">
                    <nav class="py-4 lh-30px" aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center py-1">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop List Layout</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="text-center py-13">
                <div class="container">
                    <h2 class="mb-0">Ka'Shea Cosmetics Store</h2>
                </div>
            </div>
        </section>
        <section class="container container-xxl">
            <div class="tool-bar mb-11 align-items-center justify-content-between d-lg-flex">
                <div class="tool-bar-left mb-6 mb-lg-0 fs-18px">We found <span
                        class="text-body-emphasis fw-semibold">95</span> products available for you</div>
                <div class="tool-bar-right align-items-center d-flex ">
                    <ul class="list-unstyled d-flex align-items-center list-inline me-lg-7 me-0 mb-0 ">
                        <li class="list-inline-item me-7">
                            <a class="fs-32px text-body-emphasis-hover  text-muted" href="../shop/shop-layout-v2.html">
                                <svg class="icon icon-squares-four">
                                    <use xlink:href="#icon-squares-four"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list-inline-item me-0">
                            <a class="fs-32px text-body-emphasis-hovertext-body-emphasis" href="#">
                                <svg class="icon icon-list">
                                    <use xlink:href="#icon-list"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <ul class="list-unstyled d-flex align-items-center list-inline mb-0 ms-auto">
                        <li class="list-inline-item me-0">
                            <select class="form-select" name="orderby">
                                <option selected="selected">Default sorting</option>
                                <option value="popularity">Sort by popularity</option>
                                <option value="rating">Sort by average rating</option>
                                <option value="date">Sort by latest</option>
                                <option value="price">Sort by price: low to high</option>
                                <option value="price-desc">Sort by price: high to low</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- THIS SECTION CONTAINS THE PAGE HEADER AND THE "Default Sorting" OPTIONS -->

        <!-- THIS SECTION CONTAINS THE PRODUCTS -->
        <div class="container container-xxl pb-16 pb-lg-18 mb-lg-3">
            <div class="row">
                <div class="col-lg-9 order-lg-1">
                    <div class="row gy-11">
                        {% for product in products %}
                        <!-- QUICK VIEW MODAL -->
                       {% include 'products/includes/quick-view-modal.html' %}                       
                        <div class="col-12">
                            <div class="card flex-md-row card-product list bg-transparent border-0"
                                data-animate="fadeInUp">
                                <figure
                                    class="card-img-top position-relative mb-md-0 mb-7 overflow-hidden flex-md-shrink-0">
                                    <a href="{% url 'KaSheaCosmetics_products:product_detail' product.id %}"
                                        class="hover-zoom-in d-block" title="Shield Conditioner">
                                        <img src="#" data-src="{{ product.image_1.url }}"
                                            class="img-fluid lazy-image w-100" alt="Shield Conditioner" width="330"
                                            height="440">
                                    </a>
                                    <div class="position-absolute product-flash z-index-2 ">
                                        <!-- <span class="badge badge-product-flash on-sale bg-primary">-25%</span> -->
                                        </div>
                                </figure>
                                <div class="card-body flex-md-grow-1 p-0 pt-md-9">
                                    <span
                                        class="d-flex align-items-center price text-body-emphasis fw-bold mb-3 fs-18px">
                                        
                                        <ins class="text-decoration-none">
                                            £{{ product.price}}
                                        </ins>
                                    </span>
                                    <h4
                                        class="product-title card-title text-primary-hover text-body-emphasis fs-4 fw-semibold mb-5">
                                        <a class="text-decoration-none text-reset"
                                            href="../shop/product-details-v1.html">
                                            {{ product.name }}
                                        </a>
                                    </h4>
                                    <div class="d-flex align-items-center fs-12px mb-5">
                                        <div class="rating">
                                            <div class="empty-stars">
                                                <span class="star">
                                                    <svg class="icon star-o">
                                                        <use xlink:href="#star-o"></use>
                                                    </svg>
                                                </span>
                                                <span class="star">
                                                    <svg class="icon star-o">
                                                        <use xlink:href="#star-o"></use>
                                                    </svg>
                                                </span>
                                                <span class="star">
                                                    <svg class="icon star-o">
                                                        <use xlink:href="#star-o"></use>
                                                    </svg>
                                                </span>
                                                <span class="star">
                                                    <svg class="icon star-o">
                                                        <use xlink:href="#star-o"></use>
                                                    </svg>
                                                </span>
                                                <span class="star">
                                                    <svg class="icon star-o">
                                                        <use xlink:href="#star-o"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="filled-stars" style="width: 80%">
                                                <span class="star">
                                                    <svg class="icon star text-primary">
                                                        <use xlink:href="#star"></use>
                                                    </svg>
                                                </span>
                                                <span class="star">
                                                    <svg class="icon star text-primary">
                                                        <use xlink:href="#star"></use>
                                                    </svg>
                                                </span>
                                                <span class="star">
                                                    <svg class="icon star text-primary">
                                                        <use xlink:href="#star"></use>
                                                    </svg>
                                                </span>
                                                <span class="star">
                                                    <svg class="icon star text-primary">
                                                        <use xlink:href="#star"></use>
                                                    </svg>
                                                </span>
                                                <span class="star">
                                                    <svg class="icon star text-primary">
                                                        <use xlink:href="#star"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div><span class="reviews ms-4 pt-3 fs-14px">
                                            {{ product.get_review_count}}
                                        </span>
                                    </div>
                                    <p class="product-desc mb-10">
                                        {{ product.description }}
                                    </p>
                                    <div class="d-flex flex-wrap horizontal">
                                        <a href="{% url 'KaSheaCosmetics_products:product_detail' product.id %}"
                                            class="btn btn-add-to-cart btn-dark btn-hover-bg-primary btn-hover-border-primary ">
                                            More About {{ product.name }}
                                        </a>
                                        <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action wishlist"
                                            href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Add To Wishlist">
                                            <svg class="icon icon-star-light">
                                                <use xlink:href="#icon-star-light"></use>
                                            </svg>
                                        </a>
                                        <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action quick-view"
                                            href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Quick View"
                                            data-product-name="{{ product.name }}" data-product-price="{{ product.price }}"
                                            data-product-description="{{ product.description }}"
                                            data-product-image="{{ product.image_1.url }}"
                                            >
                                            <span data-bs-toggle="modal" data-bs-target="#quickViewModal"
                                                class="d-flex align-items-center justify-content-center">
                                                <svg class="icon icon-eye-light">
                                                    <use xlink:href="#icon-eye-light"></use>
                                                </svg>
                                            </span>
                                        </a>
                                        <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action compare"
                                            href="../shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Compare">
                                            <svg class="icon icon-arrows-left-right-light">
                                                <use xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <nav class="d-flex mt-13 pt-3 justify-content-center" aria-label="pagination"
                        data-animate="fadeInUp">
                        <ul class="pagination m-0">
                            <li class="page-item">
                                <a class="page-link rounded-circle d-flex align-items-center justify-content-center"
                                    href="#" aria-label="Previous">
                                    <svg class="icon">
                                        <use xlink:href="#icon-angle-double-left"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item">
                                <a class="page-link rounded-circle d-flex align-items-center justify-content-center"
                                    href="#" aria-label="Next">
                                    <svg class="icon">
                                        <use xlink:href="#icon-angle-double-right"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                {% include 'products/includes/product-list-side-categories.html' %}
            </div>
        </div>
        <!-- THIS SECTION CONTAINS THE PRODUCTS -->


    </main>
    <!-- FOOTER -->
    {% include 'commons/footer_2.html' %}
    <!-- SEARCH MODAL -->
    {% include 'commons/search-modal.html' %}

    <!-- SHOPPING CART -->
    {% include 'commons/cart-modal.html' %}
    <!-- SIGN IN MODAL -->
    {% include 'commons/sign-in-modal.html' %}
    <!-- SIGN UP MODAL -->
    {% include 'commons/sign-up-modal.html' %}


    <div class="position-fixed z-index-10 bottom-0 end-0 p-10">
        <a href="#"
            class="gtf-back-to-top text-decoration-none bg-body text-primary bg-primary-hover text-light-hover shadow square p-0 rounded-circle d-flex align-items-center justify-content-center"
            title="Back To Top" style="--square-size: 48px"><i class="fa-solid fa-arrow-up"></i></a>
    </div>

<script type="text/javascript">
    document.querySelectorAll('.quick-view').forEach(button => {
        button.addEventListener('click', function () {
            // Get product details from data attributes
            const productName = this.getAttribute('data-product-name');
            const productPrice = this.getAttribute('data-product-price');
            const productDescription = this.getAttribute('data-product-description');
            const productImage = this.getAttribute('data-product-image');

            // Update modal content
            document.querySelector('#quickViewModal h1 a').textContent = productName;
            document.querySelector('#quickViewModal .fs-18px').textContent = productPrice;
            document.querySelector('#quickViewModal .fs-15px').textContent = productDescription;
            document.querySelector('#quickViewModal img.lazy-image').src = productImage;

        });
    });

</script>

{% endblock %}