{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="pt-14 pb-md-12 pb-8 pb-lg-17 pt-lg-21">
  <div class="container container-xxl">
    <div class="text-center" data-animate="fadeInUp">
      <h1 class="mb-6">Thank You So Much!</h1>
      {% if error %}
      <p>{{ error }}</p>
      {% else %}
      <p class="fs-18px w-lg-60 w-xl-40 mx-md-16 mx-lg-auto mb-13">
        Thanks for your order {{ order.customer_name }}. Please give 3-5 days whilst we prepare your order.
      </p>
      <p>Your order number is <strong>#{{ order.id }}</strong>.<br>
        Your order total came to <strong>£{{ order.amount }}</strong>.<br>
        We've sent and email to the email address <strong>{{ order.email }}</strong>.<br>
        We've got your delivery address down as:<br>
        <strong>{{ order.shipping_address }}</strong><br>
        <strong>{{ order.shipping_city }}</strong><br>
        <strong>{{ order.shipping_postcode }}</strong><br>
        <strong>{{ order.shipping_country }}</strong>
      </p>

      <h2>Your Items:</h2>
      <p>
        {% for item in order_items %}
        {{ item.product.name }}{% if item.size %} (Size: {{ item.size.size_name }}){% endif %} x {{ item.quantity }}<br>
        {% endfor %}
      </p>
      {% endif %}

      <a href="/" title="Shop now" class="btn btn-link fw-semibold text-body-emphasis">
        Home
        <i class="far fa-arrow-right fs-14px ps-2 ms-1"></i>
      </a>
    </div>

  </div>
</section>
{% endblock %}