{% load static %}

<div class="navbar">
    <div id="offCanvasNavBar" class="offcanvas offcanvas-start" style="--bs-offcanvas-width: 310px">
        <div class="offcanvas-header bg-body-tertiary">
            <img src="{% static 'images/logo_black.svg' %}" width="150px" alt="Ka'Shea Cosmetics">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr class="mt-0">
        <div class="offcanvas-body pt-0 mb-2">
            <ul class="navbar-nav">
                <li class="nav-item transition-all-xl-1 py-0 dropdown dropdown-fullwidth">
                    <a class="nav-link d-flex justify-content-between position-relative text-uppercase fw-semibold ls-1 fs-15px"
                        href="/" data-bs-toggle="dropdown" id="menu-item-home-canvas" aria-haspopup="true"
                        aria-expanded="false">Home</a>

                </li>

                <li class="nav-item transition-all-xl-1 py-0 dropdown">
                    <a class="nav-link d-flex justify-content-between position-relative text-uppercase fw-semibold ls-1 fs-15px dropdown-toggle"
                        href="#" data-bs-toggle="dropdown" id="menu-item-pages-canvas" aria-haspopup="true"
                        aria-expanded="false">
                        Shop
                    </a>
                    <ul class="dropdown-menu py-6" aria-labelledby="menu-item-pages-canvas">
                        <!-- <span class="border-hover-target">
                             
                        </span> -->
                        {% for side_nav_cat in sidenav_product_categories %}
                        <li class="dropend" aria-haspopup="true" aria-expanded="false">
                            <a class="dropdown-item pe-6 dropdown-toggle d-flex justify-content-between border-hover"
                                href="#" data-bs-toggle="dropdown" id="menu-item-blog-canvas">
                                <span class="border-hover-target">
                                    {{ side_nav_cat.category_name }}
                                </span>
                            </a>
                       
                        </li>
                        {% endfor %}

                        <li class="dropdown-divider"></li>
                        <li class="dropend" aria-haspopup="true" aria-expanded="false">
                            <a class="dropdown-item pe-6 dropdown-toggle d-flex justify-content-between border-hover"
                                href="#" data-bs-toggle="dropdown" id="menu-item-about-us-canvas">
                                <span class="border-hover-target">
                                    Whipped Body Butters
                                </span>
                            </a>
                            <ul class="dropdown-menu py-6" aria-labelledby="menu-item-about-us-canvas"
                                data-bs-popper="none">
                                <li>
                                    <a class="dropdown-item border-hover" href="./about-us-01.html">
                                        <span class="border-hover-target">Sweet Stuff</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="./about-us-02.html">
                                        <span class="border-hover-target">Citrus Notes</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="./about-us-02.html">
                                        <span class="border-hover-target">
                                            Zen Butter
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="./about-us-02.html">
                                        <span class="border-hover-target">
                                            Naked
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropend" aria-haspopup="true" aria-expanded="false">
                            <a class="dropdown-item pe-6 dropdown-toggle d-flex justify-content-between border-hover"
                                href="#" data-bs-toggle="dropdown" id="menu-item-contact-us-canvas">
                                <span class="border-hover-target">
                                    Body Scrubs
                                </span>
                            </a>
                            <ul class="dropdown-menu py-6" aria-labelledby="menu-item-contact-us-canvas"
                                data-bs-popper="none">
                                <li>
                                    <a class="dropdown-item border-hover" href="./contact-us-01.html">
                                        <span class="border-hover-target">
                                            Awaken
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="./contact-us-02.html">
                                        <span class="border-hover-target">
                                            Unwind
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="./contact-us-02.html">
                                        <span class="border-hover-target">
                                            Zen Night
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-hover" href="./contact-us-02.html">
                                        <span class="border-hover-target">
                                            Naked
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </li>

            </ul>
        </div>
        <hr class="mb-0">
        <div class="offcanvas-footer bg-body-tertiary">
            © 2025 Ka'Shea Cosmetics.
        </div>
    </div>
</div>