{% load static %}
<div class="col-lg-3 d-lg-block d-none">
    <div class="position-sticky top-0">
        <aside class="primary-sidebar pe-xl-9 me-xl-2 mt-12 pt-2 mt-lg-0 pt-lg-0">
            <div class="widget widget-product-category">
                <h4 class="widget-title fs-5 mb-6">Category</h4>
                <!-- HERE LIES THE MAIN CATEGORIES -->
                {% for product_cat in product_categories %}
                <ul class="navbar-nav navbar-nav-cate" id="widget_product_category">
                    <li class="nav-item">
                        <a href="{% url 'KaSheaCosmetics_products:product_by_category' product_cat.category_url %}"
                           title="{{ product_cat.category_name }}"
                           class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center text-uppercase fs-14px fw-semibold letter-spacing-5">
                            <span class="text-hover-underline me-2">
                                {{ product_cat.category_name }}
                            </span>
                            <span data-bs-toggle="collapse" data-bs-target="#cat_{{ product_cat.category_url }}"
                                  class="caret flex-grow-1 d-flex align-items-center justify-content-end collapsed">
                                <svg class="icon">
                                    <use xlink:href="#icon-plus"></use>
                                </svg>
                            </span>
                        </a>
                
                        <div id="cat_{{ product_cat.category_url }}" class="collapse show" data-bs-parent="#widget_product_category">
                            <ul class="navbar-nav nav-submenu ps-8">
                                {% for product in products %}
                                {% if product.category.id == product_cat.id %}
                                <li class="nav-item">
                                    <a class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"
                                       href="#">
                                        <span class="text-hover-underline">
                                            {{ product.name }}
                                        </span>
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
                <br>
                {% endfor %}
                


                <!-- HERE LIES THE MAIN CATEGORIES -->


            </div>
            <div class="widget widget-product-hightlight">
                <h4 class="widget-title fs-5 mb-6">Hightlight</h4>
                <ul class="navbar-nav navbar-nav-cate" id="widget_product_hightlight">
                    <li class="nav-item">
                        <a href="#" title="Best Seller"
                            class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"><span
                                class="text-hover-underline">Best Seller</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" title="New Arrivals"
                            class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"><span
                                class="text-hover-underline">New Arrivals</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" title="Sale"
                            class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"><span
                                class="text-hover-underline">Sale</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" title="Hot Items"
                            class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"><span
                                class="text-hover-underline">Hot Items</span></a>
                    </li>
                </ul>
            </div>

            <div class="widget widget-product-size">
                <h4 class="widget-title fs-5 mb-6">Size</h4>
                <ul class="navbar-nav navbar-nav-cate" id="widget_product_size">
                    <li class="nav-item">
                        <a href="#" title="Single"
                            class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"><span
                                class="text-hover-underline">Single</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" title="5 Pack"
                            class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"><span
                                class="text-hover-underline">5 Pack</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" title="Full size"
                            class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"><span
                                class="text-hover-underline">Full size</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" title="Mini size"
                            class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"><span
                                class="text-hover-underline">Mini size</span></a>
                    </li>
                </ul>
            </div>

            <div class="widget widget-tags">
                <h4 class="widget-title fs-5 mb-6">Tags</h4>
                <ul class="w-100 mt-n4 list-unstyled d-flex flex-wrap mb-0">
                    <li class="me-6 mt-4">
                        <a href="#" title="Cleansing"
                            class="text-reset d-block text-decoration-none text-body-emphasis-hover text-hover-underline">Cleansing</a>
                    </li>
                    <li class="me-6 mt-4">
                        <a href="#" title="Make up"
                            class="text-reset d-block text-decoration-none text-body-emphasis-hover text-hover-underline">Make
                            up</a>
                    </li>
                    <li class="me-6 mt-4">
                        <a href="#" title="eye cream"
                            class="text-reset d-block text-decoration-none text-body-emphasis-hover text-hover-underline">eye
                            cream</a>
                    </li>
                    <li class="me-6 mt-4">
                        <a href="#" title="nail"
                            class="text-reset d-block text-decoration-none text-body-emphasis-hover text-hover-underline">nail</a>
                    </li>
                    <li class="me-6 mt-4">
                        <a href="#" title="shampoo"
                            class="text-reset d-block text-decoration-none text-body-emphasis-hover text-hover-underline">shampoo</a>
                    </li>
                    <li class="me-6 mt-4">
                        <a href="#" title="coffee bean"
                            class="text-reset d-block text-decoration-none text-body-emphasis-hover text-hover-underline">coffee
                            bean</a>
                    </li>
                    <li class="me-6 mt-4">
                        <a href="#" title="healthy"
                            class="text-reset d-block text-decoration-none text-body-emphasis-hover text-hover-underline">healthy</a>
                    </li>
                    <li class="me-6 mt-4">
                        <a href="#" title="skin care"
                            class="text-reset d-block text-decoration-none text-body-emphasis-hover text-hover-underline">skin
                            care</a>
                    </li>
                    <li class="me-6 mt-4">
                        <a href="#" title="sale"
                            class="text-reset d-block text-decoration-none text-body-emphasis-hover text-hover-underline">sale</a>
                    </li>
                    <li class="me-6 mt-4">
                        <a href="#" title="Cosmetics"
                            class="text-reset d-block text-decoration-none text-body-emphasis-hover text-hover-underline">Cosmetics</a>
                    </li>
                    <li class="me-6 mt-4">
                        <a href="#" title="Natural cleansers"
                            class="text-reset d-block text-decoration-none text-body-emphasis-hover text-hover-underline">Natural
                            cleansers</a>
                    </li>
                    <li class="me-6 mt-4">
                        <a href="#" title="Organic"
                            class="text-reset d-block text-decoration-none text-body-emphasis-hover text-hover-underline">Organic</a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</div>