{% load static %}

  <!-- HOT PRODUCT 1 -->
  <section class="container-fluid">
    <div class="row hero">
        <div data-animate="zoomIn" class="col-lg-6 bg-image hero-hot-product lazy-bg"
            data-bg-src="{% static 'images/home/homepage-bg-1.jpg' %}">
        </div>
        <div data-animate="zoomIn"
            class="col-lg-6 d-flex align-items-center py-16 mh-600 hero-hot-product bg-section-7">
            <div class="position-relative image-box-5 border-0 mx-auto">
                <div class="image-box-image d-flex justify-content-center position-relative">
                    <img
                    data-src="{% static 'images/home/Kashea_Zen-Night_Bath-Salts_TP.png' %}" class="img-fluid lazy-image"
                        width="350" height="251" alt="shroom serum" src="#" />
                </div>
                <div class="card-body text-center pt-13">
                    <h6
                        class="image-box-hot position-absolute font-primary start-50 text-nowrap mb-2 text-primary fw-normal fst-italic lh-1">
                        Hot Product</h6>
                    <h3 class="fs-2 text-uppercase mb-8">shroom serum</h3>
                    <p class="mx-auto mb-7 fs-18px text-body" style="max-width: 390px">Lorem ipsum dolor sit
                        amet, consectetur adipi, scing seddo eiusmod temporincididunt ut labore et dolore magna
                        aliqua.</p>
                    <a href="shop-page-04.html"
                        class="fw-semibold text-body-emphasis text-decoration-none hero-link pb-3">
                        Shop Now
                        <svg class="icon icon-arrow-right">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HOT PRODUCT 2 -->
<section class="container-fluid">
    <div class="row hero">
        <div data-animate="zoomIn" class="col-lg-6 bg-image hero-hot-product order-lg-1 lazy-bg"
            data-bg-src="{% static 'images/home/homepage-bg-2.jpg' %}"></div>
        <div data-animate="zoomIn"
            class="col-lg-6 d-flex align-items-center py-16 mh-600 hero-hot-product order-lg-0">
            <div class="position-relative image-box-5 border-0 mx-auto">
                <div class="image-box-image d-flex justify-content-center position-relative">
                    <img data-src="{% static 'images/home/Kashea_Awaken_Body Scrub.png' %}" class="img-fluid lazy-image"
                        width="350" height="251" alt="fancial cleanser" src="#" />
                </div>
                <div class="card-body text-center pt-13">
                    <h6
                        class="image-box-hot position-absolute font-primary start-50 text-nowrap mb-2 text-primary fw-normal fst-italic lh-1">
                        Hot Product</h6>
                    <h3 class="fs-2 text-uppercase mb-8">fancial cleanser</h3>
                    <p class="mx-auto mb-7 fs-18px" style="max-width: 390px">Lorem ipsum dolor sit amet,
                        consectetur adipi, scing seddo eiusmod temporincididunt ut labore et dolore magna
                        aliqua.</p>
                    <a href="shop-page-04.html"
                        class="fw-semibold text-body-emphasis text-decoration-none hero-link pb-3">
                        Shop Now
                        <svg class="icon icon-arrow-right">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>